body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
    padding:20px;
}

.container{
    width:350px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

input{
    width:90%;
    padding:10px;
    margin:8px;
}

button{
    padding:10px 20px;
    background:green;
    color:white;
    border:none;
}

#result{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
}
